.btn{
    width: 152px;
    height: 56px;
    text-align: center;
    border-radius: 8px;
    background: #FFF;
    color: #333136;
    border: none;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

}
.btn:hover{
    background: #FFAD9B;
}

.btn-2{
    width: 152px;
    height: 56px;
    text-align: center;
    border-radius: 8px;
    background: #FFF;
    color: #333136;
    border: none;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 118px 96px  ;


}
.btn-2:hover{
    background: #FFAD9B;
}