.ort-1 {
  max-width: 1111px;
  height: 326px;

  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;

  padding-bottom: 40px;

  .bgl {
    background-image: url(/static/imgs/about/locations-bcg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 780px;
    h1 {
      width: 445px;
      padding-top: 54px;
      padding-left: 95px;
      color: #e7816b;
      font-family: Jost;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 48px; /* 120% */
    }
    .li {
      display: flex;
      padding-left: 95px;
      padding-top: 24px;
      gap: 30px;

      p {
        max-width: 215px;
        color: #333136;

        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 162.5% */
      }
    }
  }
}
.ort-3 {
  max-width: 1111px;
  height: 326px;

  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;

  margin-bottom: 320px;

  .bgl {
    background-image: url(/static/imgs/about/locations-bcg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 740px;
    h1 {
      width: 445px;
      padding-top: 54px;
      padding-left: 95px;
      color: #e7816b;
      font-family: Jost;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 48px; /* 120% */
    }
    .li {
      display: flex;
      padding-left: 95px;
      padding-top: 24px;
      gap: 30px;

      p {
        max-width: 215px;
        color: #333136;

        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 162.5% */
      }
    }
  }
}
